/******************************************
 * Refle
 *
 * Bootstrap 4 Login Page
 *
 * @author          Alif Triadi Agung Wicaksono
 * @uri 			https://www.alftri.xyz/
 * @copyright       Copyright (c) 2018 Alif Triadi Agung Wicaksono
 * @license         Refle is licensed under the MIT license.
 * @github          https://github.com/aliftrd/refle-login-template
 * @version         v1.0.0
 *
 * 
 ******************************************/

html,
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

body.refle-login {
    background-image: url("../assets/img/background.jpg");
    opacity: 90%;
}

.refle-login .title {
    margin-top: 75px;
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 600;
}

.refle-login .card-wrapper {
    width: 400px;
}

.refle-login .card {
    margin-top: 185px;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

.refle-login .card.fat {
    margin-top: 9px;
    padding: 10px;
}

.refle-login .card .card-title {
    color: #33cc99;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
}

.refle-login .form-control {
    color: #000;
    background-color: rgba(102, 102, 102, 0.15);
}

.refle-login .text-info {
    font-size: 12px;
}

.refle-login .btn.btn-block {
    padding: 9px 10px;
}

.refle-login .register-section {
    font-size: 12px;
}

.refle-login .footer {
    margin: 41px 0;
    color: #fff;
    text-align: center;
}

/* Link Color */

a {
    color: #1f6f8b;
}

a:hover {
    color: #1c2b2d;
}


/* Button Color */

/* Primary Color */
.btn-primary {
    background-color: #1f6f8b;
    border-color: #1f6f8b;
}

.btn-primary:hover {
    background-color: #1c2b2d;
    border-color: #1c2b2d;
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #1c2b2d !important;
    border-color: #1c2b2d !important;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 425px) {
    .refle-login .card-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .refle-login .card {
        margin-top: 135px;
    }
}

@media screen and (max-width: 320px) {
    .refle-login .card {
        margin-top: 135px;
    }

    .refle-login .card.fat {
        padding: 0;
    }


    .refle-login .card.fat .card-body {
        padding: 15px;
    }
}